/* * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans MT";
}

nav {
    height: 80px;
    width: 100%;
}

label.logo {
    line-height: 80px;
    padding: 0 100px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    padding: 7px 20px;
    border-radius: 3px;
}

a.active,
a:hover {
    background: lightskyblue;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-1 .img {
    width: 100%;
    margin-left: 40px;
    margin-bottom: 100px;
}

.col-2 {
    flex-basis: 40%;
    position: relative;
    margin-right: 50px;
}

.col-2 {
    color: white;
    font-size: 21px;
    margin-bottom: 200px;
}

.btn {
    display: inline-block;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-color: black;
    text-decoration: none;
    color: #fff;
    position: relative;
    font-family: "Gill Sans MT";
    border: 2px solid #FFF;
    margin-top: 20px;
}

.btn:hover {
    background-color: rgba(174, 221, 245, 0.3);
}

.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #001f4f;
}

.footer:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-left: 1.25em;
    margin-bottom: 2em;
}

.footer-bottom {
    text-align: center;
    color: #fff;
    padding-top: 50px;
}

.footer-left p {
    padding-right: 20%;
    color: #fff;
}

.footer-center h2 {
    margin-left: 70px;
}

.footer-center ul li a {
    color: #fff;
    text-align: center;
    margin-left: 90px;
}

.footer-right ul li p {
    color: #fff;
    text-align: center;
}

@media only screen and (max-width:700px) {
    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-1 {
        flex-basis: 100%;
        top: -130px;
        margin-left: -20px;
        width: 500px;
    }
    .col-2 {
        font-size: 18px;
        margin-right: -20px;
    }
    .btn {
        margin-left: 60px;
        margin-right: -10px;
    }
}

@media (max-width:952px) {
    label.logo {
        padding-left: 10px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media only screen and (max-width:700px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: absolute;
        visibility: hidden;
        top: 20px;
        right: 0;
        z-index: 2;
        background: #2c3e50;
        width: 100%;
        left: -100%;
        text-align: center;
        transition: all .5s;
        height: 100vh;
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: lightskyblue;
    }
    #check:checked~ul {
        left: 0;
        position: relative;
        visibility: visible;
    }
}

@media screen and (min-width:600px) {
    .footer-center>* {
        flex: 1;
    }
    .footer-left {
        flex: 1 0px;
    }
    .footer-center {
        flex: 1 0px;
    }
    .footer-right {
        flex: 1 0px;
    }
    .footer-left p {
        text-align: center;
    }
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.container .row {
    width: 85%;
    margin: auto;
}

.container .row .heading-section {
    width: 60%;
    text-align: center;
    margin: auto;
}

.container .row .heading-section h1 {
    padding-top: 30px;
    font-size: 20px;
}

.container .row .heading-section p {
    margin-top: 15px;
    font-size: 17px;
    line-height: 1.5;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content-section .card {
    flex: 1;
    margin: 40px 20px;
}

.content-section .card h1 {
    font-size: 30px;
    color: white;
}

.content-section .card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.content-section .card p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
    color: white;
}

@media screen and (max-width:600px) {
    .content-section {
        flex-direction: column;
    }
} */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans MT";
}

nav {
    height: 80px;
    width: 100%;
}

label.logo {
    line-height: 80px;
    padding: 0 100px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    padding: 7px 20px;
    border-radius: 3px;
}

a.active,
a:hover {
    background: lightskyblue;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-1 .img {
    width: 100%;
    margin-left: 40px;
    margin-bottom: 100px;
}

.col-2 {
    flex-basis: 40%;
    position: relative;
    margin-right: 50px;
}

.col-2 {
    color: white;
    font-size: 21px;
    margin-bottom: 200px;
}

.btn {
    display: inline-block;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-color: black;
    text-decoration: none;
    color: #fff;
    position: relative;
    font-family: "Gill Sans MT";
    border: 2px solid #FFF;
    margin-top: 20px;
}

.btn:hover {
    background-color: rgba(174, 221, 245, 0.3);
}

.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #001f4f;
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-left: 1.25em;
    margin-bottom: 2em;
}

.footer-bottom {
    text-align: center;
    color: #fff;
    padding-top: 50px;
}

.footer-left p {
    padding-right: 20%;
    color: #fff;
}

.footer-center h2 {
    margin-left: 70px;
}

.footer-center ul li a {
    color: #fff;
    text-align: center;
    margin-left: 90px;
}

.footer-right ul li p {
    color: #fff;
    text-align: center;
}

@media only screen and (max-width:700px) {
    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-1 {
        flex-basis: 100%;
        top: -130px;
        margin-left: -20px;
        width: 450px;
    }
    .col-1 .img {
        width: 340px;
        height: 230px;
        margin-left: 70px;
    }
    .col-2 {
        font-size: 18px;
        margin-right: -20px;
    }
    .col-2 h1 {
        margin-left: 30px;
        margin-top: -30px;
        font-size: 37px;
    }
    .btn {
        margin-left: 50px;
    }
}

@media (max-width:952px) {
    label.logo {
        padding-left: 10px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media only screen and (max-width:700px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        top: 80px;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background: #2c3e50;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: lightskyblue;
    }
    #check:checked~ul {
        left: 0;
        position: relative;
        visibility: visible;
    }
}

@media screen and (min-width:600px) {
    .footer-center>* {
        flex: 1;
    }
    .footer-left {
        flex: 1 0px;
    }
    .footer-center {
        flex: 1 0px;
    }
    .footer-right {
        flex: 1 0px;
    }
    .footer-left p {
        text-align: center;
    }
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.container .row {
    width: 85%;
    margin: auto;
}

.container .row .heading-section {
    width: 60%;
    text-align: center;
    margin: auto;
}

.container .row .heading-section h1 {
    padding-top: 30px;
    font-size: 20px;
}

.container .row .heading-section p {
    margin-top: 15px;
    font-size: 17px;
    line-height: 1.5;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content-section .card {
    flex: 1;
    margin: 40px 20px;
}

.content-section .card h1 {
    font-size: 30px;
    color: white;
}

.content-section .card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.content-section .card p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
    color: white;
}

@media screen and (max-width:600px) {
    .content-section {
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    .heading-section p {
        margin-top: 20px;
    }
}