<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefits</title>
    <style>
        img[alt="www.000webhost.com"] {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="how.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="heding-section">
                <h1 style="text-align: center; margin-top: 20px; font-weight: bolder;"> BENEFITS</h1>

            </div>
            <div class=" content-section ">
                <div class="card ">
                    <img src="ben1.jpeg" style="width: 200px; border-radius: 50%;">
                    <h1>Free of Cost</h1>
                    <p>There are several resume builders available online for free. Check their templates and themes to see which one resonates most with your style.

                    </p>
                </div>
                <div class="card " style="margin-bottom: 30px;">
                    <img src="ben2.jpeg" style="width: 200px; border-radius: 50%;">
                    <h1>Time Saver</h1>
                    <p>The time spent preparing your resume can often be better spent on networking or additional training courses that enhance your job skills.</p>
                </div>
                <div class="card " style="margin-bottom: 40px; ">
                    <img src="ben3.jpeg" style="width: 200px; border-radius: 50%;">
                    <h1>User-Friendly</h1>
                    <p>Resume builders have vibrant, eye-catching, customizable templates, and they come with various layouts.
                    </p>
                </div>
            </div>
            <div class=" content-section" style="margin-top: -80px;">
                <div class="card ">
                    <img src="ben4.jpeg" style="width: 200px; border-radius: 50%;">
                    <h1>Free of Cost</h1>
                    <p>There are several resume builders available online for free. Check their templates and themes to see which one resonates most with your style.

                    </p>
                </div>
                <div class="card " style="margin-bottom: 40px; ">
                    <img src="ben5.jpeg" style="width: 200px; border-radius: 50%;">
                    <h1>Time Saver</h1>
                    <p>The time spent preparing your resume can often be better spent on networking or additional training courses that enhance your job skills.</p>
                </div>
                <div class="card " style="margin-bottom: 40px; ">
                    <img src="ben6.jpeg" style="width: 200px; border-radius: 50%;">
                    <h1>User-Friendly</h1>
                    <p>Resume builders have vibrant, eye-catching, customizable templates, and they come with various layouts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>