<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forgot.css') }}">
    <title>forgot password</title>
</head>

<body style="background-color:  #50C878;">
    <div class="container">
        <div class="card">
            <h1>Forgot Password?</h1>
            <form>
                <div class="textbox">
                    <input type="email" class="input-box" placeholder="Email Id" required>
                </div>
            </form>
            <input type="button" class="btn" value="Submit">
        </div>
    </div>
</body>

</html>