<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        img[alt="www.000webhost.com"] {
            display: none;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
    <title>Quickie Resume</title>
    <link rel="stylesheet" href="home.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body style="background-color:  #3090c7;">
    <div class="container">


        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>

            <label class="logo"><img src="logo1.png" width="120" height="80"></label>
            <ul>
                <li><a class="step.html" href="">Create My Resume</a></li>
                <li>
                    <a href="">Resume Templates</a></li>
                <li>
                    <a href="contact.php">Contact</a></li>
                <li>
                    <a href="login.php">Log in</a></li>
            </ul>
        </nav>


        <div class="row" style="margin-top: 100px;">


            <div class="col-1" style="margin-bottom: 20px;">
                <img src="Bmiddle (1).png" class="img" height="450">


            </div>
            <div class="col-2" style="margin-bottom: 150px;">
                <h1>Design Your Resume <br> & Prove yourself</h1>
                <a href="step.html" class="btn">BUILD MY RESUME</a>
            </div>
        </div>
        <div class="heding-section">
            <h1 style="text-align: center; margin-top: 20px; font-weight: bolder; color: white; font-family: Trebuchet MS; letter-spacing: 10px;"> HOW IT WORKS</h1>
            <P style="text-align: center; font-size: 25px; color: white;">Easy way to build your resume fast and quickly.</P>
            <p style="text-align: center; font-size: 25px; color: white;">Just three simple steps.</p>
        </div>


        <div class="container">
            <div class="row">

                <div class=" content-section ">
                    <div class="card ">
                        <img src=" custome.jpeg ">
                        <h1>Select a template design</h1>
                        <p>Quickie resume website provides you +professional templates.You just need to select template design. So as you see our Quickie resume's home page. Click on build my resume.There are easy and simple steps
                        </p>
                    </div>
                    <div class="card " style="margin-bottom: 120px;">
                        <img src="choose.jpeg ">
                        <h1>Build your resume</h1>
                        <p>Build your resume by customizing it by yourself. just fill your information. Edit your template by changing size, font style . Customize your resume like this. It is easy and simple to do.</p>
                    </div>
                    <div class="card " style="margin-bottom: 200px;">
                        <img src="dw.jpeg ">
                        <h1>Download as a PDF</h1>
                        <p>As you build your resume,after that "Hit Download" button. and save your resume as pdf.</p>
                    </div>
                </div>
            </div>
        </div>




    </div>


    <footer class="footer">
        <div class="footer-left">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nulla itaque modi officia distinctio, reiciendis quas dolor optio quae animi autem corrupti totam eveniet incidunt impedit unde minus sunt? Libero.</p>

        </div>
        <div class="footer-center">

            <h2>Useful Links</h2>
            <ul class="box">
                <li><a href="">Blogs</a></li>
                <li><a href="">How it works</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">About Us</a></li>

            </ul>

        </div>
        <div class="footer-right">


            <ul class="box">
                <li><img src="loco.png" width="40" height="40"></li>
                <p style="margin-top: -30px; margin-left: 60px; font-size: 20px;">Mumbai</p>
                <li> <img src="mail.png" width="40" height="40" style="color: white; margin-top: 20px;">
                    <a href="#" style="margin-top: -50px; margin-left: 10px; font-size: 20px; color: white;">quickieresume@gmail.com</a>
                </li>


            </ul>

        </div>

    </footer>





</body>
</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        img[alt="www.000webhost.com"] {
            display: none;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
    <title>Quickie Resume</title>
    <link rel="stylesheet" href="home.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- CSS only -->

</head>

<body style="background-color:  #3090c7;">
    <div class="container">


        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>

            <label class="logo"><img src="logo1.png" width="120" height="80"></label>
            <ul>
                <li><a href="step.html">Create My Resume</a></li>
                <li>
                    <a href="Template.html">Resume Templates</a></li>
                <li>
                    <a href="contact.php">Contact</a></li>
                <li>
                    <a href="login.php">Log in</a></li>
            </ul>
        </nav>


        <div class="row" style="margin-top: 100px;">


            <div class="col-1" style="margin-bottom: 20px;">
                <img src="Bmiddle (1).png" class="img" height="450">


            </div>
            <div class="col-2" style="margin-bottom: 150px;">
                <h1>Design Your Resume <br> & Prove yourself</h1>
                <a href="step.html" class="btn">BUILD MY RESUME</a>
            </div>
        </div>
        <div class="heding-section">
            <h1 style="text-align: center; margin-top: 20px; font-weight: bolder; color: white; font-family: Trebuchet MS; letter-spacing: 10px;"> HOW IT WORKS</h1>
            <P style="text-align: center; font-size: 25px; color: white;">Easy way to build your resume fast and quickly.</P>
            <p style="text-align: center; font-size: 25px; color: white;">Just three simple steps.</p>
        </div>


        <div class="container">
            <div class="row">

                <div class=" content-section ">
                    <div class="card ">
                        <img src=" custome.jpeg ">
                        <h1>Select a template design</h1>
                        <p>Quickie resume website provides you +professional templates.You just need to select template design. So as you see our Quickie resume's home page. Click on build my resume.There are easy and simple steps
                        </p>
                    </div>
                    <div class="card " style="margin-bottom: 120px;">
                        <img src="choose.jpeg ">
                        <h1>Build your resume</h1>
                        <p>Build your resume by customizing it by yourself. just fill your information. Edit your template by changing size, font style . Customize your resume like this. It is easy and simple to do.</p>
                    </div>
                    <div class="card " style="margin-bottom: 200px;">
                        <img src="dw.jpeg ">
                        <h1>Download as a PDF</h1>
                        <p>As you build your resume,after that "Hit Download" button. and save your resume as pdf.</p>
                    </div>
                </div>
            </div>
        </div>




    </div>


    <footer class="footer">
        <div class="footer-left">

            <p>Welcome to QuickeResume !! Here we will make your work more simpler and easier. By accessing our website you will be avail with multiple features. QuickieResume is very effective and relevant to our user . And will ensure best to you.</p>

        </div>
        <div class="footer-center">

            <h2>Useful Links</h2>
            <ul class="box">
                <li><a href="blog.html">Blogs</a></li>
                <li><a href="how.html">How it works</a></li>
                <li><a href="ben.html">Benefits</a></li>
                <li><a href="">About Us</a></li>

            </ul>

        </div>
        <div class="footer-right">


            <ul class="box">
                <li><img src="loco.png" width="40" height="40"></li>
                <p style="margin-top: -30px; margin-left: 60px; font-size: 20px;">Mumbai</p>
                <li> <img src="mail.png" width="40" height="40" style="color: white; margin-top: 20px;">
                    <a href="#" style="margin-top: -50px; margin-left: 10px; font-size: 20px; color: white;">quickieresume@gmail.com</a>
                </li>


            </ul>

        </div>

    </footer>




</body>

</html>
