<!DOCTYPE html>
<html lang="e">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/res1.css" />

    <title>Resume1</title>
</head>

<body>
    <div class="container1" style="width: 80%; margin-left: 160px; " id="cv-form">
        <h1 class="text-center my-1">Resume Generator</h1>
        <h3 class="text-center" style="color: rgb(97, 88, 88);">Enter Your Details</h3>
        <hr size="5px" width="50%" color="grey">

        <div class="row">
            <div class="col-md-6 mt-2">
                <h3>Personal Information</h3>
                <div class="form-group">
                    <label for="namefield">Your Name</label>
                    <input type="text" id="namefield" placeholder="Enter Name" class="form-control">
                </div>
                <div class="form-group mt-2">
                    <label for="contactfield">Your Contact</label>
                    <input type="text" id="contactfield" placeholder="Enter Contact" class="form-control">
                </div>
                <div class="form-group mt-2">
                    <label for="emailfield">Your Email</label>
                    <input type="text" id="emailfield" placeholder="Enter Email" class="form-control">
                </div>
                <div class="form-group mt-2">
                    <label for="addressfield">Your Address</label>
                    <textarea class="form-control" id="addressfield" rows="1"></textarea>

                </div>

                <p1 class="text-secondary mt-3">Important Links</p1>
                <div class="form-group mt-2">
                    <label for="fbfield">Facebook </label>
                    <input type="text" id="fbfield" class="form-control">
                </div>
                <div class="form-group mt-2">
                    <label for="instafield">Instagram</label>
                    <input type="text" id="instafield" class="form-control">
                </div>
                <div class="form-group mt-2">
                    <label for="linkedinfield">LinkedIn</label>
                    <input type="text" id="linkedinfield" class="form-control">
                </div>
                <div class="form-group  mt-2" id="skill">
                    <label for="">Skills</label>
                    <textarea class="form-control skillfield" rows="1"></textarea>

                    <div class="container text-center mt-3" id="skillAddButton">
                        <button onclick="addNewSkillField()" class="btn  btn-primary btm-sm">Add</button>
                    </div>
                </div>
                <div class="form-group  mt-2" id="lang">
                    <label for="">Languages</label>
                    <textarea class="form-control langfield" rows="1"></textarea>

                    <div class="container text-center mt-3" id="langAddButton">
                        <button onclick="addNewLangField()" class="btn  btn-primary btm-sm">Add</button>
                    </div>
                </div>
                <div class="form-group  mt-2" id="hobby">
                    <label for="">Hobbies</label>
                    <textarea class="form-control hobbyfield" rows="1"></textarea>

                    <div class="container text-center mt-3" id="hobbyAddButton">
                        <button onclick="addNewHobbyField()" class="btn  btn-primary btm-sm">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <h3>Professional Information</h3>
                <div class="form-group mt-2 ">
                    <label for="">Profession</label>
                    <textarea class="form-control " rows="1" id="profield" placeholder="e.g Graphic Designer"></textarea>
                </div>
                <div class="form-group mt-2 ">
                    <label for="">objective</label>
                    <textarea class="form-control " id="objfield" rows="5"></textarea>
                </div>
                <div class="form-group  mt-2" id="we">
                    <label for="">Work Experience</label>
                    <textarea class="form-control wefield" rows="4"></textarea>

                    <div class="container text-center mt-3" id="weAddButton">
                        <button onclick="addNewWEField()" class="btn  btn-primary btm-sm">Add</button>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="">select your photo</label>
                    <input id="imgfield" type="file" class="form-control">
                </div>

                <div class="form-group  mt-2" id="aq">
                    <label for="">Academic Qualifiction</label>
                    <textarea class="form-control aqfield" rows="1"></textarea>

                    <div class="container text-center mt-3" id="aqAddButton">
                        <button onclick="addNewAQField()" class="btn  btn-primary btm-sm">Add</button>
                    </div>
                </div>
                <div class="form-group  mt-2" id="cer">
                    <label for="">Certifications</label>
                    <textarea class="form-control cerfield" rows="1"></textarea>

                    <div class="container text-center mt-3" id="cerAddButton">
                        <button onclick="addNewCerField()" class="btn  btn-primary btm-sm">Add</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="container text-center mt-3">
            <button onclick="generate()" class="btn btn-primary btn-lg">Generate</button>
        </div>

    </div>
    <br>


    <!--cv template-->
    <div class="container2" id="cv-template">

        <div class="container">
            <div class="1row" id="rowbg" style="background-color: rgb(126, 90, 161); width: 55%; border-radius: 30px; height: 15%; margin-left: 390px;">


                <div class="buttons" id="size" style="padding:10px; margin-left: -50px; padding-left: 1.5rem 1.25rem;">

                    <span class="btn active" style="margin-bottom: 21px;" onclick="smallA()">A</span>
                    <span class="btn " style="margin-bottom: 21px;" onclick="mediumA()">A</span>
                    <span class="btn " style="margin-bottom: 21px;" onclick="bigA()">A</span>
                    <br>



                    <form style=" margin-left: 20px; margin-bottom: 20px;">
                        <h4 style="margin-left: 40px;"> color</h4>
                        <select class="button1" onchange="handleOnChangeEvent(this.value)" style="border-radius: 20px; font-size: 20px; height: 40px; width: 140px; color: gray;">
                        <option  value="" >color</option>
                        <option  class="btns1" value="#737CA1">slate blue gray</option>
                        <option  class="btns1" value="#E84A5F">Red</option>
                        <option   class="btns1" value="#357EC7">Blue</option>
                        <option  class="btns1" value="#3EA99F">Light sea green</option>
                        <option  class="btns1" value="#C5908E">Rose</option>
                    </select>

                    </form>

                    <form style="margin-left: 10px; ">
                        <h4 style="margin-left: 27px;">font style</h4>
                        <select class="button" id="font" onclick="changeFont(this.value)" style=" height: 40px; border-radius: 10px; font-size: 20px; color: gray;">
                <option value="">select style</option>
                <option class="btns " >Modern</option>
                <option class="btns" >YU Gothic</option>
                <option class="btns" >Nirmala UI</option>
                <option class="btns" >Comic Sans MS</option>
                <option class="btns">Roman</option>
                </select>
                    </form>








                </div>

            </div>
            <br>

            <div class="row" id="text13">

                <div class="col-md-4  background" id="text11">
                    <!--first coloumn-->
                    <img src="https://i.pinimg.com/474x/65/25/a0/6525a08f1df98a2e3a545fe2ace4be47.jpg" class="img-fluid myimg" id="imgtemplate">

                    <div class="content">
                        <p>Contact</p>

                        <ul>
                            <li>
                                <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><br>
                                <span class="text" id="emailT" style="font-size: large;">johnsmith@gmail.com</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-phone-square" aria-hidden="true"></i></span><br>
                                <span class="text" id="contactT">+91 345678956</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span><br>
                                <span class="text" id="addressT">mumbai,india</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span><br>
                                <a href="#"><span class="text" id="linkedT" style="font-size: large;">linkedin.com</span></a>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-facebook-square" aria-hidden="true"></i></i></span><br>
                                <a href="#"> <span class="text" id="fbT" style="font-size: large;">facebook.com</span></a>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></span><br>
                                <a href="#"><span class="text" id="instaT" style="font-size: large;">instagram.com</span></a>
                            </li>



                        </ul>
                    </div>
                    <div class="content">
                        <p class="title">Skills</p>
                        <ul style="list-style-type:square" id="skillT">

                            <li>
                                Public speaking
                            </li>
                            <li>
                                adaptibility
                            </li>
                            <li>
                                keep recording
                            </li>
                            <li>
                                team-oriented
                            </li>
                            <li>
                                neogation
                            </li>





                        </ul>
                    </div>
                    <div class="content">
                        <p>Languages</p>
                        <ul style="list-style-type:circle" id="languageT">
                            <li>
                                English
                            </li>
                            <li>
                                Marathi
                            </li>
                            <li>
                                Hindi
                            </li>
                            <li>
                                Korean
                            </li>
                        </ul>


                    </div>
                    <div class="content">
                        <p class="title">Hobby</p>
                        <ul id="hobbyT">
                            <li>Drawing</li>
                            <li>Drawing</li>
                            <li>Drawing</li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-8 py-4 mt-5 " id="text12">

                    <!--second coloumn-->
                    <div class="container">
                        <div class="content">
                            <p1 class="title1" id="name1T">JOHN SMITH</p1><br>
                            <p1 class="title3" id="proT">Software Engineer</p1><br>

                            <br>
                            <p3 class="para" id="objT">A resume is a one page summary of your work experience and background relevant to the job you are applying to. A CV is a longer academic diary that includes all your experience, certificates, and publications.</p3>
                            <br>
                        </div>
                    </div>
                    <div class="about mt-5">
                        <h2 class="tt" id="text14">Work Experience</h2>
                        <div class="box">

                            <div class="content">
                                <ul id="weT">
                                    <li> A resume is a one page summary of your work experience and background relevant to the job you are applying to. A CV is a longer academic diary that includes all your experience, certificates, and publications.</li>





                                    <li> resume is a one page summary of your work experience and background relevant to the job you are applying to. A CV is a longer academic diary that includes all your experience, certificates, and publications.</li>





                                    <li>A resume is a one page summary of your work experience and background relevant to the job you are applying to. A CV is a longer academic diary that includes all your experience, certificates, and publications.</li>
                                </ul>


                            </div>
                        </div>

                        <div class="content  mt-3">
                            <h2 class="tt" id="text15">Academic Qualifiction</h2>
                            <ul style="list-style-type:circle" id="eduT">
                                <li>
                                    SSC:90%
                                </li>
                                <li>
                                    HSC:80%
                                </li>
                                <li>
                                    IT engineering
                                </li>
                            </ul>
                        </div>

                        <div class="content mt-3">
                            <h2 class="tt" id="text16">Certifications</h2>
                            <ul style="list-style-type:square" id="cerT">
                                <li>
                                    Adult training and development: Certified Training and Development Professional (CTDP)
                                </li>
                                <li>
                                    Chartered Professional in Human Resources (CPHR)
                                </li>
                                <li>
                                    Project Management Professional (PMP)
                                </li>
                                <li>
                                    Construction Estimator Certified (CEC)
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>




            </div>
        </div>
        <div class="container mt-3 text-center" id="prebutton">

            <button onclick="printcv()" class="btn btn-primary btn-lg ">Download</button>
            </button>
        </div>


        <script>
            let buttons = document.querySelector('.buttons');
            let btn = buttons.querySelectorAll('.btn');
            for (var i = 0; i < btn.length; i++) {
                btn[i].addEventListener('click', function() {
                    let current = document.getElementsByClassName('active');
                    current[0].className = current[0].className.replace("active", "");
                    this.className += " active";

                })
            }


            let button = document.querySelector('.button');
            let btns = document.querySelectorAll('.btns');
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener('click', function() {
                    let current = document.getElementsByClassName('able');
                    current[0].className = current[0].className.replace("able", "");
                    this.className += " able";
                })
            }
        </script>






        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
        <script src="/static/js/res1.js"></script>
</body>

</html>