<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="steps.css">
    <style>
        img[alt="www.000webhost.com"] {
            display: none;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
</head>
<style>

</style>

<body>
    <p>Build Your Resume Fast and Easy.</p>
    <div class="container">
        <div class="box1">
            <img src="step1.png">
            <h1>Pick a Template</h1>
        </div>
        <div class="box2">
            <img src="step2.png">
            <h2>Customize Your <br> Layout</br>
            </h2>
        </div>
        <div class="box3">
            <img src="step3.png">
            <h3>Hit 'Download!'</h3>
        </div>

    </div>
    <a href="" class="btn">BUILD MY RESUME</a>







</body>

</html>